.main-footer__copyright-text {
  font-size: 16px;
  line-height: 20px;
}

.main-footer__copyright-link {
  display: block;
  text-decoration: none;
  position: relative;
  color: inherit;
}

.main-footer__copyright-link::before {
  content: "";
  width: 27px;
  height: 34px;
  background-color: #666666;
  mask-image: url("../../icons/logo-html.svg");
  mask-repeat: no-repeat;
  mask-size: 27px 34px;
  position: absolute;
  top: 0;
  right: 0;
}

.main-foter__logo:hover {
  opacity: 60%;
}

.main-foter__logo:active {
  opacity: 30%;


.main-foter__copyright-link:hover {
  opacity: 0.6;
  background-color:aqua;
}


}

// .main-footer__copyright-link:hover::before, .main-footer__copyright-link:active::before {
//   background-color: $basic-bg-color;
// }



.main-foter__copyright-link:active {
  opacity: 30%;
}

// .main-footer__copyright-link:hover::before, main-footer__copyright-text {
//   opacity: 60%;
// }
