.social__link {
  width: 28px;
  height: 22px;
  text-decoration: none;
  background-image: url("../../images/logo-footer.svg");
  background-repeat: no-repeat;
  display: block;
}

// .social__link--vkontakte {
//   width: 28px;
//   height: 22px;
//   background-image: url("../../icons/social/vkontakte.svg");
//   background-repeat: no-repeat;
// }

// .social__link--vkontakte:hover {
//   background-color: $basic-bg-color;
// }
